* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Clicker Script", cursive;
  font-family: "Playfair Display", serif;
  font-family: "Roboto", sans-serif;
}

ol,
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1512px;
  margin: 0 auto;
}

header {
  background-color: #0C111B;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 0px;
  z-index: 2;
  box-shadow: 0px 0px 50px 0px black;
}

select {
  border: none;
  background-color: #0C111B;
  color: white;
}

option {
  background-color: #0C111B;
  outline: none;
  border: none;
}

input {
  background-color: #0C111B;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  outline: none;
}

.search {
  margin-left: -20px;
}

.button__itm {
  border: none;
  background-color: transparent;
}

.btn__search {
  color: white;
  margin-left: -20px;
}

.text__item {
  color: white;
  padding-top: 20px;
}

.inp {
  background-color: transparent;
}

.btn__item {
  display: flex;
  width: 91px;
  height: 24px;
  padding: 5px 18px 5px 19px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 26px;
  border: 1px solid #FFF;
  background-color: #0C111B;
  color: white;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__items {
  padding-left: 30px;
}

.hero__item {
  padding-left: 20px;
}

main {
  padding-top: 93px;
  height: 600px !important;
}
main .im_g {
  background-size: cover;
  background-repeat: no-repeat;
}

.image {
  height: 600px;
}

.list__itms {
  display: flex;
  justify-content: space-between;
  padding-top: 300px;
  padding-bottom: 200px;
}

.section {
  background-color: #0C111B;
}

.images {
  border-radius: 10px;
}

.info__item p {
  width: 69.312px;
  color: var(--gray-400, #9CA3AF);
  font-family: sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.info__item h5 {
  width: 152px;
  color: #FFF;
  font-family: sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.off__canvas {
  width: 350px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -400px;
  background-color: #0C111B;
  color: white;
  transition: all ease 0.5s;
  z-index: 3;
}

.open__off {
  left: 0;
}

.off__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.x {
  width: 30px;
  height: 30px;
  background-color: red;
  border-radius: 50%;
}

.burger:hover {
  background-color: rgba(114, 244, 244, 0.728);
}

.shadow {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.618);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: none;
}

.movies {
  background-color: #0C111B;
}

.movies__list {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repaet(auto-fill, min-max(150px, 1fr));
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.movies__list li {
  width: 300px;
  height: 400px;
}
.movies__list li p {
  color: white;
}
.movies__list li img {
  width: 250px;
}

.hero__img {
  border-radius: 10px;
}

.card__title {
  color: white;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 150px;
}
.footer ul {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  gap: 43px;
  color: white;
}
.footer .logos__list {
  display: flex;
  align-items: center;
  gap: 48px;
  width: 300px;
  transform: translate(50px);
}
.footer__text {
  transform: translateX(50px);
  color: white;
}

.pagination__item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.page__item:hover {
  background-color: rgb(4, 132, 168);
}

.page__link {
  cursor: pointer;
}

.heart__fill {
  color: red;
  cursor: pointer;
}

.a__off {
  text-decoration: none;
}/*# sourceMappingURL=main.css.map */